.header {
    position: relative;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
  padding: 0.5rem 6rem;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
    position: relative;
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
}

.nav {
  display: flex;
  gap: 4rem;
}

.link, .active-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  transition: color 0.2s ease;
}
.link:hover {
  color: teal;
}
.active-link {
  color: teal;
}

.user-section {
    position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(to right, #06b6d4, #3b82f6);
}
.username {
  color: #000;
  font-weight: 500;
}


.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color:black;
}

/* Tablet & Mobile*/
@media (max-width: 1024px) {
  .header {
    padding: 0.5rem 2rem;
  }

  .menu-toggle {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .nav {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: #FAFAFA;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
    transform: translateY(-200%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: -99;
  }

  .nav-open {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Small Mobil */
@media (max-width: 480px) {
  .logo {
    font-size: 1.4rem;
  }

}
